
<div class="page-heading">
    <h1 class="page-title">Chart of Account</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Setup</li>
        <li class="breadcrumb-item">Configuration</li>
    </ol>
</div>


<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <div class="flexbox mb-4">
                <button class="btn btn-blue btn-sm">Add New</button>
            </div>
            <h5 class="font-strong mb-4">List of Chart of Account</h5>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="datatable">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Final</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let coa of chartofaccount" (click)="goToView()">
                            <td>{{coa.code}}</td>
                            <td>{{coa.descp}}</td>
                            <td>{{coa.type}}</td>
                            <td>
                                <span class="badge badge-success badge-pill">{{coa.finallvl}}</span>
                            </td>
                            <td>
                              <span class="badge badge-success badge-pill">{{coa.active}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
